.notice {
    /*padding: 15px;*/
    padding:15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #378e08;
}
.notice-success>strong {
    /*color: #80D651;*/
    color:#378e08;
}

.notice-success>a {
    /*color: #80D651;*/
    color:#378e08;
}

.notice-success>a {
    /*color: #80D651;*/
    color:#378e08;
}

.notice-info {
    border-color: #0097a7;
}
.notice-info>strong {
    /*color: #45ABCD;*/
    color: #0097a7;

}

.notice-info>a {
    /*color: #45ABCD;*/
    color: #2583a2;

}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    /*color: #FEAF20;*/
    color:#d88b00;
}

.notice-warning>a {
    /*color: #FEAF20;*/
    color:#d88b00;
}

.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.notice-danger>a {
    color: #d73814;
}